@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:none;
}
body {
    font-family: Archivo, sans-serif;
    overflow:hidden;
}

#header-div {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:100px;
    background-color: black;
    font-family: Roboto, sans-serif;
    color: white;
}
#page-container {
    width:100vw;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 100px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.page {
    height:800px;
    width:100%;
    background-color: white;
}
#intro {
    background-color: #921501;
}
#intro #center {
    margin:auto;
    height:600px;
    width:600px;
    background-image: url(../images/placeholder.png);
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100vw;
    height: 100px;
    background-color: black;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:black;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width:5px;
    visibility: hidden;
  }
  
  *::-webkit-scrollbar-track {
    visibility: hidden;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:#921501;
    width:2px;
    height:40px;
  }