@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
    padding:0;
    margin:0;
    border:none;
}
body {
    font-family: Archivo, sans-serif;
    overflow:hidden;
}
/* ---------Top Navbar styling--------- */
#nav-div {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    background-color: #24211D;
    font-family: Roboto, sans-serif;
    color: white;
    display: inline;
}
#nav-logo {
  float:left;
  line-height: 40px;
  font-family: Roboto;
  margin-left: 5px;
  font-size: 180%;
}
#nav-menu {
  width:310px;
  float:right;
  line-height: 40px;
}
#nav-div li {
  background-color: #24211D;
  text-transform: uppercase;
  float: right;
  margin-right: 15px;
  display: inline;
  list-style: none;
  color: white;
  transition: all 0.3s;
  z-index: 2;
}

#nav-div li:hover {
  color:black;
  background-color: white;
  font-size: 105%;
  padding-left: 5px;
  padding-right: 5px;
}


/* ---------page content display area styling--------- */
#page-container {
    width:100vw;
    background-color: black;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 50px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.page {
    min-height:400px;
    height:100%;
    width:100%;
    background-color: white;
}
footer {
    position:absolute;
    bottom:0;
    left:0;
    width:100vw;
    height: 50px;
    background-color: #24211D;
}
/* Scrollbar style for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color:black;
}

/* Scrollbar style for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width:5px;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color:#921501;
  width:2px;
  height:40px;
}


/* ---------page content styling--------- */
#intro {
    background-color: #D9D9D9;
}
#intro #left {
  width:50%;
  min-width: 320px;
  height:100%;
  background-image: url(../images/itachiheader.png);
  background-repeat: no-repeat;
  background-size:contain;
  background-position:bottom right;
}
  #right {
    width: 50%;
    min-width: 315px;
    border-top: 2px solid black;
    margin-top: 150px;
    float:right;
    display: inline;
    background-color:rgba(217, 217, 217, 0.95);
  }
  #right #textbox-right {
    color:#24211D;
    float:left;
    width: 315px;
  }
  #textbox-right h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    padding: 0 2.5px 0 2.5px;
  }
  #textbox-right p {
    font-size: 0.9rem;
    font-family: Archivo, sans-serif;
    line-height: 1.3;
    padding: 0 2.5px 0 2.5px;
  }

  #about-itachi {
    background-color:#24211D;
    text-align:center;
  }
.page-title {
  color: #D9D9D9;
  text-align: right;
  text-transform: uppercase;
  line-height: 60px;
  font-family: Roboto;
  margin-right: 5px;
  font-size: 300%;
}

  .video-card {
    margin:10px auto;
    display:inline-block;
    border-top: 2px solid #D9D9D9;
    color: #D9D9D9;
  }
.iframe-wrapper {
  width:420px;
  height:236.25px;
  float: right;
}
iframe {
  width:420px;
  height:236.25px;
  float: right;
}
.about-textbox {
  float:left;
  width: 310px;
  text-align: left;
  padding-left: 3px;
}

#episodes {
  background-color: #D9D9D9;
}
  #left-table-container {
    float: left;
    color: #921501;
    width:50%;
    min-width:320px;

  }
  #right-table-container {
    float: left;
    color: black;
    width:50%;
    min-width:320px;
  }
  table {
    text-align: left;
    padding-left: 0 15px;
  }
  
  table th{
    text-align: left;
    vertical-align: bottom;
    padding-left: 15px;
  }
  table td{
    text-align: left;
    vertical-align: top;
    padding-left: 15px;
    padding-top: 10px;
  }

  #warning-message {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: black;
  }

  @media screen and (max-width:612px) {
    #page-container {
      top:80px      
    }
    #nav-logo {
      width: 100%;
      text-align: center;
    }
    #nav-menu {
      width: 100%;
    }
    #nav-menur ul {
      display: flex;
      align-items: stretch; /* Default */
      justify-content: space-between;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    #nav-menu li {
      display: block;
      flex: 0 1 auto; /* Default */
      list-style-type: none;
      margin:0 10px;
      line-height: 40px;
    }
  }

@media screen and (max-width:562px) {
  #right {
    width: 100%;
    border-bottom: 2px solid #24211D;
    border-top: 2px solid #24211D;
  }
  }